name: Stylua
on:
- push
- pull_request
jobs:
  stylua:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
    - name: StyLua
      uses: JohnnyMorganz/stylua-action@479972f01e665acfcba96ada452c36608bdbbb5e # v4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        version: 0.20.0
        args: --check .
