name: Stylua
on:
- push
- pull_request
jobs:
  stylua:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - name: StyLua
      uses: JohnnyMorganz/stylua-action@479972f01e665acfcba96ada452c36608bdbbb5e # v4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        version: 0.20.0
        args: --check .
